<div class="about">

<h1 class="lg-heading">
  About <span class="text-secondary">Me</span>
</h1>

<h2 class="sm-heading">
  A programmer and web designer with the intention of making something different
</h2>

<div class="about-info">

<div class="bio-image"></div>
  <div class="bio">
        <h2>BIO</h2>
    <h3 class="text-secondary">
      <p>
        I am a graduate from College of Engineering Trivandrum (CET). I was a student of this institute from  
        2014 to 2018. I am looking foreward on working as a full-stack developer.
    </h3>
  </div>



</div>

</div>