@import '../../scss/config';

    .about-me{

    top: 0;
    width:100%;
    position: fixed;
    background-color: white;
    text-align: center;
    align-content: center;
    //visibility: hidden;


        &.show{
            visibility: visible;
        }

        .heading{
            font-size: 50px;
            color: black;

        }
    
    }