<div class="contact">

  <h1 class="lg-heading">
    Contact <span class="text-secondary">Me</span>
  </h1>

  <h2 class="sm-heading">
   You can reach me at 
  </h2>


<div class="boxes">

  <div>
    <span class="text-secondary">Email:</span> p.nithinc@gmail.com
  </div>


  <div>
    <span class="text-secondary">Phone:</span> 9544511781, 8848365232 
  </div>



  <div>
    <span class="text-secondary">Address:</span> SREERAGAM, MENACHOOR, PO THIRUVATTOOR,
    PARIYARAM, KANNUR, KERALA PIN - 670502
  </div>





</div>

</div>