<div class="home">


<h1 class="lg-heading">
  Nithin <span class="text-secondary">Chandran</span>
</h1>

<h2 class="sm-heading">
  Web Developer & Programmer
</h2>

<div class="icons">
  <a href="https://www.instagram.com/nithinchandran_p/?hl=en" target="_blank">
    <i class="fab fa-instagram fa-2x"></i>
  </a>

  <a href="https://www.facebook.com/p.nithinc" target="_blank">
    <i class="fab fa-facebook fa-2x"></i>
  </a>

  <a href="https://www.linkedin.com/in/nithin-chandran-974326132/" target="_blank">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>

  <a href="https://github.com/nithincp" target="_blank">
    <i class="fab fa-github fa-2x"></i>
  </a>
</div>

</div>

