$primary-color:grey;
$secondary-color:yellow;

h1 ,.lg-heading
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $primary-color;
}

.second-name{
    color: $secondary-color;

}