/* You can add global styles to this file, and also import other style files */
@import 'scss/config';
@import './styles-variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';




* {
    box-sizing: border-box;
}

body{
    @include background();
    background-color:$primary-color; 
    height:100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

@import 'scss/mobile';
