//wide screens
@include mediaXl{


}
//desktops
@include mediaLg{

    
}

//tablets
@include mediaMd{

    .home{
       
        align-items: center;
        text-align: center;
    
        
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    
    }

    .menu{
            
        .menu-branding{
            float:none;
            width: 100%;
            min-height:0;
            height: 35vh;
             transform: translate3d(100%,0,0);


            &.show{
                transform: translate3d(0,0,0);
            }

            .portrait{
            display: flex;
            margin-left: auto;  
            margin-right: auto;
            margin: auto;
            width: 170px;
            height: 170px;
            background: url(/assets/img/header_small.jpg);
            border-radius: 50%;
            border: solid 3px $secondary-color;
            //opacity: 1;
        }

        }

    

  
 
      .menu-nav{

         float:none;
         width: 100%;
         min-height:0;
        height:65vh;
        transform: translate3d(-100%,0,0);

        &.show{
            transform: translate3d(0,0,0);

        }

        .nav-link{
         font-size: 20px;

        }
    }

}

.about{

        align-items: center;
        text-align: center;    

          .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
        

.about-info{
     grid-template-areas: 
    'bioimage'
    'bio';
    grid-template-columns: 1fr;
    
  

}

}


.contact{


        align-items: center;
        text-align: center; 
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }


  .boxes{
      font-size: 2rem;
  }


}




.work{


        align-items: center;
        text-align: center; 

         .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }

}
    
}

//smartphones
@include mediaSm{

    .home{

          align-items: center;
        text-align: center;

    .lg-heading{
        line-height: 1.7rem;
        margin-top: 10vh;
        font-size: 2rem;
        margin-bottom: 2rem;

    }

    .sm-heading{
        font-size: 1rem;
    }

    .icons{
        font-size: 12px;
    }


    

    }


.about{

        align-items: center;
        text-align: center;    

          .lg-heading{
              font-size: 2rem;
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading{
            font-size: 1rem;
        }
        

.about-info{
     grid-template-areas: 
    'bioimage'
    'bio';
    grid-template-columns: 1fr;
    
  

    .bio{
        font-size: 0.5rem;
    }

}

}



.contact{


        align-items: center;
        text-align: center; 
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        .sm-heading{
            font-size: 1rem;
        }


.boxes{
      font-size: 3rem;

      div{
          padding: 0;
      }
}


}



.work{


        align-items: center;
        text-align: center; 

         .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        .sm-heading{
            font-size: 1rem;
        }

}

    
}